.keyboard {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    width: 15rem;
    height: 23.625rem;
    justify-content: space-between;
}

.keyboard-mode {
    background-color: #fff;
    color: #ccc;
    font-size: 0.875rem;
    width: 50%;
    height: 2.375rem;
    text-align: center;
    border: 0.0625rem solid #ccc;
    cursor: pointer;
}

.normalMode {
    border-top-left-radius: 0.1875rem;
    border-bottom-left-radius: 0.1875rem;
}

.candidateMode {
    border-top-right-radius: 0.1875rem;
    border-bottom-right-radius: 0.1875rem;
}

.keyboard-mode-selected {
    background-color: #000;
    color: #fff;
    border: none;
}

.button {
    background: rgba(142, 142, 142, 0.3);
    border: 0.0625rem solid #959595;
    border-radius: 0.25rem;
    margin-top: 0.875rem;
}

.numeric {
    width: 4.375rem;
    height: 4.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.keyboard-svg {
    fill: #000;
    height: 80%;
    width: 80%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
}

.key-disabled {
    filter: brightness(0) saturate(100%) invert(72%) sepia(0%) saturate(247%) hue-rotate(219deg) brightness(85%) contrast(74%);
}

.key-delete {
    background-repeat: no-repeat;
    background-image: url(../images/delete.svg);
    background-position: center;
}

.key-candidate {
    height: 33.3333333333%;
    width: 33.3333333333%;
    margin: 0;
    transform: scale(1.2);
}

.key-delete-container {
    width: 100%;
    height: 3rem;
}

.keyboard-auto {
    font-size: 1rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 0.875rem;
}

.keyboard-checkbox {
    width: 0.8125rem;
    height: 0.8125rem;
    margin-right: 0.3125rem;
    cursor: pointer;
}

.su-divider {
    display: none;
}

.su-keyboard-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
}

@media (max-width: 850px) {
    .keyboard {
        width: 80vw;
        height: 12rem;
    }

    .keyboard-numeric {
        width: 18%;
        height: 2.625rem;
    }

    .key-delete-container {
        width: 18%;
        height: 2.625rem;
    }

    .key-candidate-delete {
        transform: scale(0.5);
    }

    .keyboard-auto {
        justify-content: center;
    }

    .su-divider {
        display: block;
        width: 95%;
        max-width: 500px;
        border-top: 1px solid #c4c4c4;
        margin: 1rem 0;
    }

    .su-keyboard-container {
        max-width: 450px;
        margin: auto;
    }
}

@media (min-width: 851px) {
    .key-candidate-1 {
        position: absolute;
        margin-top: 0.25rem;
        margin-left: 0.25rem;
    }

    .key-candidate-2 {
        position: absolute;
        left: 33.3333%;
        margin-top: 0.25rem;
    }

    .key-candidate-3 {
        position: absolute;
        left: 66.6666%;
        margin-top: 0.25rem;
        margin-left: -0.25rem;
    }

    .key-candidate-4 {
        position: absolute;
        top: 33.3333%;
        margin-left: 0.25rem;
    }

    .key-candidate-5 {
        position: absolute;
        top: 33.3333%;
        left: 33.3333%;
    }

    .key-candidate-6 {
        position: absolute;
        top: 33.3333%;
        left: 66.6666%;
        margin-left: -0.25rem;
    }

    .key-candidate-7 {
        position: absolute;
        top: 66.6666%;
        margin-top: -0.25rem;
        margin-left: 0.25rem;
    }

    .key-candidate-8 {
        position: absolute;
        top: 66.6666%;
        left: 33.3333%;
        margin-top: -0.25rem;
    }

    .key-candidate-9 {
        position: absolute;
        top: 66.6666%;
        left: 66.6666%;
        margin-top: -0.25rem;
        margin-left: -0.25rem;
    }
}
