.keyboard {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    width: 240px;
    height: 378px;
    justify-content: space-between;
}

.keyboard-mode {
    background-color: #fff;
    color: #ccc;
    font-size: 14px;
    width: 50%;
    height: 38px;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
}

.normalMode {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.candidateMode {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.keyboard-mode-selected {
    background-color: #000;
    color: #fff;
    border: none;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    background: rgba(142, 142, 142, 0.3);
    border: 1px solid #959595;
    border-radius: 4px;
}

.numberic {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.keyboard-svg {
    fill: #000;
    height: 80%;
    width: 80%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.key-1 {
    background-repeat: no-repeat;
    background-image: url(../images/1.svg);
    background-position: center;
}

.key-2 {
    background-repeat: no-repeat;
    background-image: url(../images/2.svg);
    background-position: center;
}

.key-3 {
    background-repeat: no-repeat;
    background-image: url(../images/3.svg);
    background-position: center;
}

.key-4 {
    background-repeat: no-repeat;
    background-image: url(../images/4.svg);
    background-position: center;
}

.key-5 {
    background-repeat: no-repeat;
    background-image: url(../images/5.svg);
    background-position: center;
}

.key-6 {
    background-repeat: no-repeat;
    background-image: url(../images/6.svg);
    background-position: center;
}

.key-7 {
    background-repeat: no-repeat;
    background-image: url(../images/7.svg);
    background-position: center;
}

.key-8 {
    background-repeat: no-repeat;
    background-image: url(../images/8.svg);
    background-position: center;
}

.key-9 {
    background-repeat: no-repeat;
    background-image: url(../images/9.svg);
    background-position: center;
}

.key-candidate {
    height: 33.3333333333%;
    width: 33.3333333333%;
    margin: 0;
    transform: scale(1.2);
}

.delete {
    width: 100%;
    height: 48px;
    background-repeat: no-repeat;
    background-image: url(../images/delete.svg);
    background-position: center;
}

.keyboard-auto {
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.keyboard-checkbox {
    width: 13px;
    height: 13px;
    margin-right: 5px;
    cursor: pointer;
}
