.pz-game-toolbar {
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    height: 55px;
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 24px;
}

.pz-flex-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.su-toolbar-left {
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    width: 350px;
}

.su-toolbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.su-toolbar-right {
    width: 350px;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

.back-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    border: none;
    background: none;
    padding-left: 0;
    cursor: pointer;
}

.back-arrow {
    background: url(../images/back.svg) center no-repeat;
    height: 45px;
    padding: 26.5px 12px 26.5px 16px;
}

.back-text {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    align-self: center;
    color: #000;
}

.su-level {
    font: 18px nyt-karnak;
    color: #121212;
    line-height: 14px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0px 16px;
    min-width: 60px;
}

.su-timer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 36px;
    font-family: "nyt-franklin";
    font-size: 16px;
    line-height: 14px;
    font-weight: 400;
    color: #121212;
}

.su-timer-text {
    display: inline-block;
}

.su-timer-pause {
    position: relative;
    margin-left: 25px;
    height: 14px;
    display: inline-flex;
    align-items: center;
}

.timer-pause-icon {
    width: 11px;
    height: 11px;
    margin-bottom: 1px;
    display: inline-block;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/timer-pause.svg);
}

.pz-toolbar-button {
    font-family: "nyt-franklin";
    font-size: 1.125em;
    line-height: 45px;
    display: inline-block;
    padding: 6px 10px 4px;
}

.su-app-help {
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-image: url(../images/help.svg);
}

.su-app-kebab {
    padding-right: 0;
    height: 36px;
    width: 19px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-image: url(../images/kebab.svg);
}

.pz-dropdown {
    display: inline-block;
    position: relative;
    margin-left: 20px;
}

.pz-toolbar-dropdown-button:hover {
    background-color: #e6e6e6;
}

.pz-dropdown-list {
    width: 155px;
    position: absolute;
    right: 0;
    z-index: 99;
    text-align: right;
    border: 1px solid #c4c4c4;
    background: #fff;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, .15);
    right: calc(-75px + 50%);
}

.pz-dropdown-menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    cursor: pointer;
}

.pz-dropdown-button {
    padding: 6px 10px;
    text-align: left;
    justify-content: left;
    font-family: "nyt-franklin";
    font-size: 1.125em;
    line-height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pz-dropdown-button-border {
    width: 100%;
    border-top: 1px solid #c4c4c4;
}

.pz-dropdown-menu-item:hover {
    background-color: #e6e6e6;
}