.pz-game-toolbar {
    border-top: 0.0625rem solid #dfdfdf;
    border-bottom: 0.0625rem solid #dfdfdf;
    height: 3.4375rem;
    width: 100%;
    margin: 0 auto;
    max-width: 80rem;
    padding: 0 1.5rem;
}

.pz-flex-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.su-toolbar-left {
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    width: 21.875rem;
}

.su-toolbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.su-toolbar-right {
    width: 21.875rem;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

.back-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    border: none;
    background: none;
    padding-left: 0;
    cursor: pointer;
}

.back-arrow {
    background: url(../images/back.svg) center no-repeat;
    height: 2.8125rem;
    padding: 1.65625rem 0.75rem 1.65625rem 1rem;
}

.back-text {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    align-self: center;
    color: #000;
}

.su-level {
    font: 1.125rem nyt-karnak;
    color: #121212;
    line-height: 0.875rem;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0rem 1rem;
    min-width: 3.75rem;
}

.su-timer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2.25rem;
    font-family: "nyt-franklin";
    font-size: 1rem;
    line-height: 0.875rem;
    font-weight: 400;
    color: #121212;
}

.su-timer-text {
    display: inline-block;
}

.su-timer-pause {
    position: relative;
    margin-left: 1.5625rem;
    height: 0.875rem;
    display: inline-flex;
    align-items: center;
}

.timer-pause-icon {
    width: 0.6875rem;
    height: 0.6875rem;
    margin-bottom: 0.0625rem;
    display: inline-block;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/timer-pause.svg);
}

.pz-toolbar-button {
    font-family: "nyt-franklin";
    font-size: 1.125em;
    display: flex;
    align-items: center;
    padding: 0.375rem 0.625rem 0.25rem;
    height: 100%;
}

.su-app-help {
    height: 1.25rem;
    width: 1.25rem;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-image: url(../images/help.svg);
}

.su-app-kebab {
    padding-right: 0;
    height: 2.25rem;
    width: 1.1875rem;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-image: url(../images/kebab.svg);
}

.pz-dropdown {
    display: inline-block;
    position: relative;
    margin-left: 1.25rem;
}

.pz-toolbar-dropdown-button:hover {
    background-color: #e6e6e6;
}

.pz-dropdown-list {
    width: 9.6875rem;
    position: absolute;
    right: 0;
    z-index: 99;
    text-align: right;
    border: 0.0625rem solid #c4c4c4;
    background: #fff;
    box-shadow: 0rem 0.5rem 0.5rem 0rem rgba(0, 0, 0, .15);
    right: calc(-4.6875rem + 50%);
}

.pz-dropdown-menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    cursor: pointer;
}

.pz-dropdown-button {
    padding: 0.375rem 0.625rem;
    text-align: left;
    justify-content: left;
    font-family: "nyt-franklin";
    font-size: 1.125em;
    line-height: 2.8125rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pz-dropdown-button-border {
    width: 100%;
    border-top: 0.0625rem solid #c4c4c4;
}

.pz-dropdown-menu-item:hover {
    background-color: #e6e6e6;
}